<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucky 7s Yes or No</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <main class="d-flex justify-content-center flex-column align-items-center">
            <div class="lucky">{{ title }}</div>
            <h1>Yes or No</h1>
            <p>{{ prompt }}</p>
            <div class="action">
                <button class="result" v-if="!reset" @click=decideOutcome() v-on:click="reset = !reset">{{ button }}</button>
                <button class="reset" v-if="reset" @click=resetData() v-on:click="reset = !reset">Ask Another Question</button>
            </div>
            <div class="yes-result" v-if="result === 'Yes'">
                <img :src="lastMeme" alt="">
            </div>
            <div class="no-result" v-if="result === 'No'">
                <img :src="lastMeme" alt="">
            </div>
            
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                title: 'Lucky 7s',
                button: 'Get Answer',
                prompt: 'Ask Your Question Out Loud Then Hit "Get Answer"',
                noPhotos: ["arnold", "bugs", "duck", "hillary", "man"],
                yesPhotos: ["bill", "borat", "brian", "girl", "thor"],
                reset: false,
                result: '',
                memeResult: '',
                lastMeme: '',
            },
            methods: {
                decideOutcome: function(){
                    var answer = ( Math.round(Math.random() * 777 ))
                    var photoChoice = ( Math.floor(Math.random() * 5 ))
                    if(answer > 400){
                        app.result = 'Yes'
                        app.lastMeme = 'images/yes/' + app.yesPhotos[photoChoice] + '.gif'
                        console.log(app.lastMeme)
                    }else{
                        app.result = 'No'
                        app.lastMeme = 'images/no/' + app.noPhotos[photoChoice] + '.gif'
                        console.log(app.lastMeme)
                    }
                },
                resetData: function(){
                    app.result = ''
                },
            }
        });
    </script>
</body>
</html>