/* Global */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.d-flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.grid {
    display: grid;
}

main {
    max-width: 800px;
    width: 92%;
    text-align: center;
    margin: 0 auto;
}